---
---
@import 'main.scss';

pre code {
    display: block;
    background: none;
    white-space: pre;
    -webkit-overflow-scrolling: touch;
    overflow-x: visbile;
    max-width: 100%;
    min-width: 100px;
    padding: 10px;
    border-radius: 5px;
    white-space: pre-wrap;
    background-color: #191919;
    color: white
  }